<div class='panel panel-primary' *ngIf='book'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + book.name}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Book:</div>
                    <div class='col-md-6'>{{book.name}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'> Author: </div>
                    <div class='col-md-6'>{{book.author}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Price </div>
                    <div class='col-md-6'>{{book.price  |currency:'USD':true}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Category</div>
                    <div class='col-md-6'>{{book.category}}</div>
                </div>

            </div>

        </div>
    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>