<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="saveUser()"
              [formGroup]="userForm">
            <fieldset>
               
                <div class="form-group"
                     [ngClass]="{'has-error': displayMessage.email}">
                    <label class="col-md-2 control-label" for="priceId">Email </label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="emailId"
                               type="text"
                               placeholder="Email (required)"
                               formControlName="email" />
                        <span class="help-block" *ngIf="displayMessage.email">
                            {{displayMessage.email}}
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error': displayMessage.password}">
                    <label class="col-md-2 control-label" for="authorId">Password </label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="passwordId"
                               type="text"
                               placeholder="Password"
                               formControlName="password" />
                        <span class="help-block" *ngIf="displayMessage.author">
                            {{displayMessage.password}}
                        </span>
                    </div>
                </div>



                <div class="form-group" [ngClass]="{'has-error': displayMessage.confirmPassword}">
                    <label class="col-md-2 control-label" for="confirmPasswordId"> Password Confirmation </label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="confirmPasswordId"
                               type="text"
                               placeholder="Confirm Password"
                               formControlName="confirmPassword" />
                        <span class="help-block" *ngIf="displayMessage.passwordConfirmed">
                            {{displayMessage.passwordConfirmed}}
                        </span>
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    style="width:80px;margin-right:10px"
                                    [disabled]='!userForm.valid'>
                                Save
                            </button>
                        </span>
                        <span>
                            <a class="btn btn-default"
                               style="width:80px"
                               [routerLink]="['/shop',' ']">
                                Cancel
                            </a>
                        </span>
                        
                    </div>
                </div>
            </fieldset>
        </form>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>
</div>
